:root{
    --greentext:#027f43;
    --bgchat:#0caaa2;
    --bgpanel:#0c6baa;
}
body{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#content-wrap{
    display: none;
}

#chat{
    height: 300px;
    background-color: var(--bgchat);
}
.card-header, .card-footer{
    background-color: var(--bgpanel);
}

.msg-area{
    border-radius: 15px;
}

.msg{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.salir:hover{
    cursor: pointer;
}

.enlace-salir{
    color:var(--greentext)
}

.tit-online{
    color: var(--greentext);
}
.subt{
    color: white;
}